/* about-styles.css */


body {
    font-family: 'Spline Sans', sans-serif;
    background-color: #FFFFFF; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff; 
    padding-top: 5px; 
    padding-bottom: 5px; 
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Apply a max-width and margin to the logo image */
.logo-img {
    max-width: 350px; 
    height: auto; 
    margin-right: 10px; 
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: #000000; 
}

.navbar-nav .nav-link:hover {
    color: #FF8427; 
}

/* Jumbotron Styles */
.hero-section {
    text-align: center;
    position: relative;
    overflow: hidden;
}

.hero-section img {
    width: 100%; 
    height: auto; 
}

.content-section {
    padding: 120px 0;
    font-size: 15px; 
    line-height: 1.8; 
    text-align: center;
}

/* Team Section Styles */
.team-section {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.team-section h2 {
    text-align: center;
    width: 100%;
}

.team-member {
    flex: 0 0 25%;
    padding: 0 15px; 
    text-align: center;
}

.team-member img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.team-member h4,
.team-member p {
    text-align: center;
}

/* Footer Styles */
.footer {
    background-color: #FF8427; 
    color: #FFFFFF; 
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}


body {
    background-color: #FFFFFF; 
}
