/* blog-styles.css */

/* Set the main font family to Spline Sans */
body {
    font-family: 'Spline Sans', sans-serif;
    background-color: #FFFFFF; /* White color for the background */
}

/* Navbar Styles */
.navbar {
    background-color: #ffffff; /* White color */
    padding-top: 5px; /* Adjust the top padding as needed */
    padding-bottom: 5px; /* Adjust the bottom padding as needed */
}

.navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Apply a max-width and margin to the logo image */
.logo-img {
    max-width: 350px; /* Adjust the max-width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the margin as needed */
}

.navbar-nav {
    display: flex;
    justify-content: center;
}

.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    color: #000000; /* Black color for normal state */
}

.navbar-nav .nav-link:hover {
    color: #FF8427; /* Orange color on hover */
}

/* Blog Post Styles */
.blog-post {
    margin-bottom: 30px;
}

/* Jumbotron Styles */
.jumbotron {
    font-family: 'Spline Sans', sans-serif;
    background-color: #FF8427; /* Orange color */
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0; /* Remove default margin */
    color: #000000; /* Black color for text */
}

/* Footer Styles */
.footer {
    background-color: #FF8427; /* Orange color */
    color: #FFFFFF; /* White color for text */
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav .nav-item {
        margin: 10px 0;
    }
}
